body {
  background: #fafafa;
  color: #1a1a1a;
  margin-top: 6rem;

}

.intro {
  margin-bottom: 2rem;
}

.intro-work {
  margin-bottom: 0.0rem;
}


p {
  /* padding: 1rem; */
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  font-size: 0.9rem;
}

a {
  color: #1a1a1a;
}

h1 {
  color: #1a1a1a;
  display: inline-block;
  /* padding-left: 0.3rem;
  padding-right: 0.3rem; */
  font-size: 1.8rem;
}

h2 {
  padding-top: 1.5rem;
}

h3 {
  padding: 1.8rem;
  font-style: italic;
  font-size: 1.2rem;
}

#anchor {
  font-style: bold;
  color: #1a1a1a;
  text-decoration: underline;
}

.bg-light {
  padding-top: 1.2rem;
  background-color: #fafafa;
}

.site-header .navbar-nav .nav-link {
  /* padding-top: 1.2rem; */
  color: #757575;
  background: #fafafa;
  /* background-color: grey; */
}

nav {
  background-color: #fafafa;
}

.navbar-dark .navbar-brand {
  /* padding-top: 1rem; */
  color: #1a1a1a;
  background: #fafafa;
}

.navbar-dark .navbar-brand:hover {
  color: #1a1a1a;
  background: #fafafa;
}

.site-header .navbar-nav .nav-link:hover {
  color: #1a1a1a;
  background: #fafafa;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  background: #fafafa;
}

.navbar-dark .navbar-toggler {
  color: #1a1a1a;
  background: #fafafa;
}


img {
  padding-bottom: 2rem;
}


.img-container {
  position: relative;
  display: inline-block;
}

.img-container img {
  display: block;
}

.img-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 100ms ease-in-out;
}

.img-container img{
  /* opacity: 1; */
  /* filter: brightness(50%); */
}

.img-container:hover {
  filter: brightness(50%);
}

.img-container:hover .overlay {
  opacity: 1;
  color: #1a1a1a;
}


.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: #1a1a1a;
}
#overlay h2 {
  color: #1a1a1a;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #1a1a1a;
}
a:hover {
  text-decoration: underline;
}

a.article-title:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
